entrypoint = "app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["streamlit", "run", "app.py", "--server.address=0.0.0.0", "--server.port=5000"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Streamlit App"

[[workflows.workflow]]
name = "Streamlit App"
author = 47083209
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.address=0.0.0.0 --server.port=5000"
