modules = ["python-3.11"]
run = "streamlit run app.py"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "libxcrypt", "python312Packages.google-ai-generativelanguage", "python312Packages.google-genai", "python312Packages.google-generativeai", "python313Packages.google-genai", "python313Packages.google-generativeai"]

[deployment]
run = ["sh", "-c", "streamlit run app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Streamlit App"

[[workflows.workflow]]
name = "Streamlit App"
author = 47083209
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -e ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.address=0.0.0.0 --server.port=5000"
